/*
 * This CSS stylesheet oversees the broad styling of this website. It controls commonalities such as font, color, background, and more.
 * 
 * Additional stylesheets are encapsulated to their specific purposes. These are listed below along with their functions:
 *
 * + reset.css - this stylesheet resets the default styling of the client browser. 
 * + nav.css   -  
 *
 */

 /*
  * Global text styling
  */

/*
 * Global background styling
 */
 html {

    
 
}


#profile {

    background: url("../images/UnchartedNebula.jpg") no-repeat center/cover;
    height: 100px;
    width: 100px;
    top: 0;
    border: #919191 1px solid;
    position: absolute;
    float: left;
    clear: left;

}

/*
 *
 * Global content styling
 *
 */
#content {

    background-color: #3f404d;
    font-family: "Calisto MT", "Bookman Old Style", "Bookman", "Goudy Old Style", "Garamond", "Hoefler Text", "Bitstream Charter", Georgia, serif;
    color: #e1e3f5;
    height: 100%;
    width: 80%;
    padding: 50px 20px;
    margin: auto;
    display: block;
    margin-top: 50px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.253);
}

.signature {

    font-size: larger;
    padding-top: 40px;

}

.section {

    width: 100%;
    height: 100vh;

}

.profile {

    background: url("../images/UnchartedNebulaBlurred.jpg") no-repeat center/cover;
    background-attachment: fixed;

}

.general {

    background: black;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 75px;
    overflow: hidden;

}

.general p {

    text-indent: 50px;
    font-size: 2em;

}

.nivalis {

    background: url("../images/Nivalis-Bg.jpg") no-repeat center/cover;
    background-attachment: fixed;

}



.banner{

    margin: auto;
    position: relative;
    height: 100vh;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.banner h1 {

    font-size: 4em;
    text-align: center;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.icon {

    position: absolute;
    top: 35%;

}

#left {

    background-color: #3f404d;
    height: 125px;
    width: 30px;
    top: 45%;
    left: 0;
    position: fixed;

}

#right {

    background-color: #3f404d;
    height: 125px;
    width: 30px;
    top: 45%;
    right: 0;
    position: fixed;

}

.makespace {
    height: 100000px;
}

/*
 *
 * Global Desktop Stylesheet Changes
 *
 */

@media only screen and (min-width: 768px) {

    .general p {

        text-indent: 50px;
        font-size: 1em;
    
    }

}